name: Testing

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
    types: [ opened, synchronize, reopened ]
    paths:
      - "package.json"
      - "**/*.ts"
      - "**/*.js"

jobs:
  testing:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest, macos-latest, windows-latest ]
        node-version: [ 12.x, 14.x ]
    name: Testing
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2.1.2
      name: Use Node.js ${{ matrix.node-version }}
      with:
        node-version: ${{ matrix.node-version }}
        registry-url: 'https://registry.npmjs.org'
    - run: yarn install
    - run: yarn run test
    - run: yarn run build
